@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Noto+Sans:wght@100&family=Poppins&family=Rubik:wght@300&display=swap');

* {
    font-family: 'Poppins', Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 90px;
}

body {
    background-color: #1A1F2D;
    color: #EDE7E3;
    font-size: 16px;
}

/*//////////// HEADER /////////////// */

header {
    background-color: #1A1F2D;
    width: 100%;
    position: fixed;
    padding: 15px 30px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-normal {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: 1px;
}

#navbar ul li a {
    text-decoration: none;
    color: #EDE7E3;
    transition: all 0.8s;
}

#navbar ul li a:hover {
    text-decoration: none;
    transition: all 0.8s;
    color: #564FCC;
}


.menu-icon, .responsive-menu {
    display: none;
}



@media screen and (max-width: 768px) {

    #logo img {
        width: 120px;
    }
    .menu-icon, .responsive-menu {
        display: flex;
    }

    .menu-normal, .responsive-menu {
        display: none;
    }


    .menu-icon button {
        background: transparent;
        border: none;
    }

    .responsive-menu ul {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .responsive-menu ul li {
        display: block;
        padding-top: 1.2rem;
    }

    .responsive-menu ul li a {
        text-decoration: none;
        color: #EDE7E3;
        font-size: 1.3rem;
        font-weight: bold;
        transition: all 0.5s;
    }

    .responsive-menu ul li a:hover {
        color: #564FCC;
        transition: all 0.5s;
    }

    .aparecer {
        display: block;
    }
}


/* ///////////////// HOME /////////////////// */

section#home {
    display: flex;
    height: 100vh;
    padding: 0 5%;
}

.texto-imagem {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.conteudo-home {
    display: flex;
    width: 100%;
    align-items: center;
}

#social ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto h1{
    font-weight: bold;
    color: #564FCC;
    font-size: 3rem;
}

.texto {
    margin-bottom: 20px;
}

.botao {
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 20px;
    border: 1px solid #564FCC;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.2);
}

#home .botao:hover {
    color: #564FCC;
    transition: all 0.3s;
    transform: scale(1.1);
}

.logo-social {
    transition: all 0.3s;
}

.logo-social:hover {
    transform: scale(1.1);
    opacity: 0.5;
    transition: all 0.3s;
}

@media screen and (max-width: 768px) {
    section#home {
        height: 80vh;
        justify-content: flex-start;
    }
    
    .texto-imagem {
        justify-content: flex-end;
    }

    .texto-imagem aside, .conteudo-home #social {
        display: none;
    }

    .texto h1{
        font-size: 1.8rem;
    }

    .texto h2 {
        font-size: 1.3rem;
    }

    .texto h3 {
        font-size: 1rem;
    }
}


/* //////////////////// SOBRE ///////////////////// */

section#sobre {
    background-color: #212738 ;
    padding: 0 5%;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 60px 0px;
}

.titulo::after {
    content: '';
    height: 2px;
    width: 50px;
    background-color: #564FCC;
    margin: 0 auto;
}

section#sobre .texto-imagem article {
    background-color: red;
}

section#sobre .texto-imagem aside {
    background-color: blue;
}

.imagem-texto {
    display: flex;
    justify-content: space-between; 
 
}

.imagem-texto article {
    padding: 50px;
    font-size: 1rem;
    font-weight: bold;

}

.imagem-texto article p {
    margin-bottom: 50px;
}

#tecnologias-ferramentas ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}



@media screen and (max-width: 768px) {
    .imagem-texto {
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .imagem-texto aside {
        display: none;
    }

    .tec {
        width: 38px;
    }

    #tecnologias-ferramentas {
        padding-bottom: 50px;
    }
}

/* /////////////////// PROJETOS /////////////////// */


.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin-bottom: 35px;
}

.projeto {
    display: flex;
    width: 80%;
    background-color: #4D5260;
    border-radius: 10px;
}

.projeto aside {
    width: 70%;
}

.projeto aside img {
    border-radius: 10px;
}

.conteudo-projeto {
    width: 80%;
}

.projeto article {
    width: 30%;
    display: flex;
    justify-content: center;
}

.conteudo-projeto {
    width: 90%;
    display: flex;
    align-items: center;    
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
    flex-direction: column;
}

.conteudo-projeto h1 {
    font-size: 1.7rem;
}

.conteudo-botoes {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

.botao-projeto:hover {
    color: #564FCC;
    background-color: #212738;
    transition: all 0.6s;
}

@media screen and (max-width: 768px) {
    .projeto {
        flex-direction: column;
    }

    .projeto aside {
        width: 100%;
    }

    .projeto article {
        width: 100%;
    }

    .projeto-invertido {
        flex-direction: column-reverse;
    }

    .conteudo-projeto {
        margin-bottom: 1rem;
    }
}

/* /////////////////// CONTATO /////////////////// */

#contato {
    background: #212738;
    padding: 40px;
}

.contatos {
    width: 100%;
}

.contatos ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

}

.contatos ul li {
    padding: 10px;
}

.contatos a {
    padding-left: 40px;
    text-decoration: none;
    color: #EDE7E3;
    font-size: 1rem;
}

#email-contato {
    background: url(../assets/icons/email-icon.svg) no-repeat left center;
}

#linkedin-contato {
    background: url(../assets/icons/linkedin-icon.svg) no-repeat left center;
}

#github-contato {
    background: url(../assets/icons/github-icon.svg) no-repeat left center;
}

#email-contato a, #linkedin-contato a, #github-contato a {
    transition: all 0.4s;
}

#email-contato a:hover, #linkedin-contato a:hover, #github-contato a:hover {
    color: #564FCC;
    transition: all 0.4s;
}

@media screen and (max-width: 768px) {
    .contatos ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;    
    }
}
