@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Noto+Sans:wght@100&family=Poppins&family=Rubik:wght@300&display=swap');

* {
    font-family: 'Poppins', Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 90px;
}

:target {
    -webkit-scroll-margin-top: 90px;
}




body {
    background-color: #1A1F2D;
    color: #EDE7E3;
    font-size: 16px;
    touch-action: manipulation;
    scrollbar-width: thin;
}




::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #564FCC;
}
  
::-webkit-scrollbar-track {
    background-color: #212738; 
}
  

  
body::-webkit-scrollbar-thumb {
    background-color: #564FCC;
}
  
body::-webkit-scrollbar-track {
    background-color: #212738;
}
  

body::-ms-scrollbar {
    width: 12px;
}
  
body::-ms-scrollbar-thumb {
    background-color: #564FCC;
}
  
body::-ms-scrollbar-track {
    background-color: #212738;
}

/*//////////// HEADER /////////////// */

header {
    background-color: #1A1F2D;
    width: 100%;
    position: fixed;
    padding: 15px 30px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-normal {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: 1px;
}

#navbar ul li a {
    text-decoration: none;
    color: #EDE7E3;
    transition: all 0.8s;
}

#navbar ul li a:hover {
    text-decoration: none;
    transition: all 0.8s;
    color: #564FCC;
}


.menu-icon, .responsive-menu {
    display: none;
}



@media screen and (max-width: 768px) {

    header {
        transition-duration: 2s;
        transition-timing-function: ease;
    }

    #logo img {
        width: 120px;
    }
    .menu-icon, .responsive-menu {
        display: flex;
    }

    .menu-normal, .responsive-menu {
        display: none;
    }


    .menu-icon button {
        background: transparent;
        border: none;
    }


    .responsive-menu ul {
        display: flex;
        width: 100%;
       flex-direction: column;
       align-items: center;
        padding: 3rem 0 0.5rem 0;
        list-style: none;
        gap: 30px;
        transition: top 0.3s ease-in-out;
    }


    .responsive-menu ul li {
        text-align: center;
    }

    .responsive-menu ul li a {
        text-decoration: none;
        color: #EDE7E3;
        font-size: 1rem;
        font-weight: bold;
        transition: all 0.5s;
    }

    .tituloAfter::after {
        content: '';
        height: 1px;
        width: 350px;
        background-color: #212738;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }

    :target {
        scroll-margin-top: 70px;
    }


    .responsive-menu ul li a:hover {
        color: #564FCC;
        transition: all 0.5s;
    }

    .aparecer {
        display: flex;
    }

}


/* ///////////////// HOME /////////////////// */

section#home {
    display: flex;
    height: 100vh;
    padding: 0 5%;
}


.texto-imagem {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.conteudo-home {
    display: flex;
    width: 100%;
    align-items: center;
}

#social ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto h1{
    font-weight: bold;
    color: #564FCC;
    font-size: 2.5rem;
}

.texto {
    margin-bottom: 20px;
}

.botao {
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 20px;
    border: 1px solid #564FCC;
    color: #EDE7E3;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.2);
}

#home .botao:hover {

    color: #564FCC;
    transition: all 0.3s;
    transform: scale(1.1);
}

.logo-social {
    transition: all 0.3s;
}

.logo-social:hover {
    transform: scale(1.1);
    opacity: 0.5;
    transition: all 0.3s;
}

@media screen and (max-width: 1070px) {
    .texto-imagem aside {
        display: none;
    }

    .texto-imagem {
        justify-content: flex-start;
    }

    .texto h1{
        font-size: 2rem;
    }

    .texto h2 {
        font-size: 1.4rem;
    }

    .texto h3 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    section#home {
        height: 85vh;
        justify-content: flex-start;
    }


    .texto-imagem aside, .conteudo-home #social {
        display: none;
    }

    .texto h1{
        font-size: 1.5rem;
    }

    .texto h2 {
        font-size: 1.1rem;
    }

    .texto h3 {
        font-size: 1rem;
    }
}


/* //////////////////// SOBRE ///////////////////// */

section#sobre {
    background-color: #212738;
}


.titulo {
    font-size: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 60px 0px;
}

.titulo::after {
    content: '';
    height: 2px;
    width: 50px;
    background-color: #564FCC;
    margin: 0 auto;
}


.imagem-texto {
    display: flex;
    align-items: center;
    justify-content: space-between; 
 
}

.imagem-texto article {
    width: 60%;
    padding: 0 70px;
    font-size: 1rem;
    font-weight: bold;
}

.imagem-texto aside {
    width: 40%;

}

.imagem-texto article p {
    margin-bottom: 50px;
}

#tecnologias-ferramentas {
    padding: 0 0.9rem;
    padding-bottom: 3rem;
}

#tecnologias-ferramentas ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}



@media screen and (max-width: 768px) {
    .imagem-texto {
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .imagem-texto aside {
        display: none;
    }

    .tec {
        width: 48px;
    }

    #tecnologias-ferramentas ul {
        flex-wrap: wrap;
    }

    .imagem-texto article {
        padding: 0 30px;
        width: 95%;
    }

    .imagem-texto article p {
        text-align: center;
    }
    

}

/* /////////////////// PROJETOS /////////////////// */


.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin-bottom: 35px;
}

.projeto {
    display: flex;
    width: 80%;
    background-color: #4D5260;
    border-radius: 13px;
}

.projeto aside {
    width: 70%;
}

.projeto aside img {
    border-radius: 13px;
}

.conteudo-projeto {
    width: 80%;
}

.projeto article {
    width: 30%;
    display: flex;
    justify-content: center;
}


.conteudo-projeto {
    width: 90%;
    display: flex;
    align-items: center;    
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 1rem 0;
}

.conteudo-projeto h1 {
    font-size: 1.2rem;
}

.conteudo-botoes {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

.botao-projeto:hover {
    color: #564FCC;
    background-color: #212738;
    transition: all 0.6s;
}

@media screen and (max-width: 768px) {
    .projeto {
        flex-direction: column;
    }

    .projeto aside {
        width: 100%;
    }

    .projeto article {
        width: 100%;
    }

    .projeto-invertido {
        flex-direction: column-reverse;
    }

    .conteudo-projeto h1 {
        font-size: 1.rem;
    }

    .conteudo-botoes {
        margin-top: 0.5rem;
    }

    .projeto aside img {
        border-radius: 13px 13px 0 0;
    }

}

/* /////////////////// CONTATO /////////////////// */

#contato {
    background: #212738;
    padding: 40px;
}

.contatos {
    width: 100%;
}

.contatos ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

}

.contatos ul li {
    padding: 10px;
}

.contatos a {
    padding-left: 40px;
    text-decoration: none;
    color: #EDE7E3;
    font-size: 1rem;
}

#email-contato {
    background: url(../assets/icons/email-icon.svg) no-repeat left center;
}

#linkedin-contato {
    background: url(../assets/icons/linkedin-icon.svg) no-repeat left center;
}

#github-contato {
    background: url(../assets/icons/github-icon.svg) no-repeat left center;
}

#email-contato a, #linkedin-contato a, #github-contato a {
    transition: all 0.4s;
}

#email-contato a:hover, #linkedin-contato a:hover, #github-contato a:hover {
    color: #564FCC;
    transition: all 0.4s;
}

@media screen and (max-width: 768px) {
    .contatos ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;    
    }
}
